body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", "Open Sans", sans-serif; }

.content {
  margin: 0; }

.navHidden {
  display: none; }

#nav {
  position: fixed;
  top: 0;
  width: 100%; }

.nav-box {
  height: 5rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .nav-box .nav-header {
    flex: 5 2 auto;
    padding-left: 1rem;
    height: 5rem; }
    .nav-box .nav-header a {
      text-decoration: none;
      color: #2d2d2d;
      font-family: "Exo", sans-serif;
      font-size: calc(0.6rem + 1vw);
      letter-spacing: 0.2rem;
      height: 5rem; }
      .nav-box .nav-header a h2 {
        /* calc() wizardry to center text. (navHeight / 2) - fontSize */
        margin-top: calc((5rem / 2) - (0.65rem + 1vw)); }
  .nav-box .nav-button {
    flex: 0 0 10%; }
    .nav-box .nav-button button {
      border: none;
      background-color: #fff;
      font-size: calc(1rem + 1vw);
      cursor: pointer; }
  .nav-box .nav-links {
    flex: 0 0 100%;
    background: #eee;
    margin: 0;
    padding: 0; }
    .nav-box .nav-links .nav-link a {
      text-decoration: none;
      color: #344f5e;
      font-size: 1rem;
      font-family: "Exo", sans-serif;
      transition: color 0.25s;
      -webkit-transition: color 0.25s;
      -moz-transition: color 0.25s;
      -ms-transition: color 0.25s; }
      .nav-box .nav-links .nav-link a:hover {
        color: #2d2d2d; }
      .nav-box .nav-links .nav-link a h3 {
        padding-left: 1rem; }

@media screen and (min-width: 950px) {
  .nav-box {
    flex-wrap: nowrap;
    height: 6rem; }
  .nav-button {
    display: none; }
  .nav-links {
    flex: 2 0 auto !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
    background: #fff !important;
    display: flex;
    flex-direction: row;
    column-gap: 11%; }
    .nav-links .nav-link a {
      text-decoration: none;
      color: #344f5e;
      font-size: 1.5rem !important;
      font-family: "Exo", sans-serif;
      transition: color 0.25s;
      -webkit-transition: color 0.25s;
      -moz-transition: color 0.25s;
      -ms-transition: color 0.25s; }
      .nav-links .nav-link a:hover {
        color: #2d2d2d; } }

#landing {
  background: #0a1124;
  background-image: url("https://ik.imagekit.io/bclyde95/Portfolio/photo-1475139441338-693e7dbe20b6_nFmobEJg2.avif?ik-sdk-version=javascript-1.4.3&updatedAt=1645055067833");
  min-height: 100vh; }

#landing-box {
  text-align: center;
  padding: 25vh 0;
  width: 90%;
  margin: 0 5%;
  color: #dedede; }
  #landing-box h1 {
    font-size: calc(2rem + 1vw);
    font-weight: 300;
    padding-bottom: 1rem; }
    #landing-box h1 .title-box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 0.5rem; }
      #landing-box h1 .title-box span {
        flex: 0 0 100%; }
  #landing-box h2 {
    font-size: calc(1.2rem + 1vw);
    font-weight: 300; }
  #landing-box #landing-btn {
    font-size: calc(0.75rem + 1vw);
    border: 0;
    background: #17a2b8;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    letter-spacing: 0.05rem;
    margin: 2rem 0;
    transition: background-color 0.25s ease-out;
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -ms-transition: background-color 0.25s ease-out; }
    #landing-box #landing-btn:hover {
      cursor: pointer;
      background-color: #344f5e; }

@media screen and (min-width: 1410px) {
  #landing-box h1 {
    font-size: calc(2.5rem + 1vw); }
    #landing-box h1 .title-box span {
      flex: 0 0 45%; } }

@media screen and (max-width: 550px) {
  #landing-box h1 {
    font-size: calc(1.6rem + 1vw); } }

@media screen and (max-width: 341px) {
  #landing-box h1 {
    font-size: calc(1.4rem + 1vw); }
  #landing-box h2 {
    font-size: calc(1rem + 1vw); } }

#projects {
  background: #eee;
  padding: 2rem 0; }
  #projects h2 {
    font-family: "Exo", sans-serif;
    padding-left: 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.025rem; }

.project-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem 10%;
  row-gap: 3rem; }

.project-tile {
  flex: 0 0 85%;
  width: 85%;
  min-height: 22rem;
  background: #344f5e;
  color: #eee;
  transition: background 0.25s, color 0.25s ease-out;
  -webkit-transition: background 0.25s, color 0.25s ease-out;
  -moz-transition: background 0.25s, color 0.25s ease-out;
  -ms-transition: background 0.25s, color 0.25s ease-out;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  box-shadow: 0px 0.25rem 0.25rem #ccc;
  -webkit-box-shadow: 0px 0.25rem 0.25rem #ccc;
  -moz-box-shadow: 0px 0.25rem 0.25rem #ccc;
  -ms-box-shadow: 0px 0.25rem 0.25rem #ccc; }
  .project-tile .project-content {
    width: 100%;
    text-align: center;
    padding-top: 8rem;
    font-size: 1.5rem; }
    .project-tile .project-content h3 {
      font-weight: 300; }
  .project-tile .project-content-toggled {
    width: 80%;
    margin: 0 10%;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.1rem; }
    .project-tile .project-content-toggled h3 {
      font-size: 1.6rem; }
    .project-tile .project-content-toggled h4 {
      font-size: 1.3rem;
      margin: 0.8rem 0; }
    .project-tile .project-content-toggled ul {
      display: flex;
      max-width: 80%;
      margin: 0 10%;
      padding-top: 0;
      padding-bottom: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      line-height: 1.8rem; }
    .project-tile .project-content-toggled .project-tech {
      float: none;
      padding-right: 2rem; }
    .project-tile .project-content-toggled .project-btn {
      bottom: 0;
      font-size: 1.1rem;
      border: none;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
      background: #344f5e;
      color: #eee; }

@media screen and (min-width: 1080px) {
  .project-box {
    column-gap: 8rem; }
  .project-tile {
    flex: 0 0 37.5%;
    width: 37.5%; } }

@media screen and (max-width: 728px) {
  .project-box {
    width: 100%;
    margin: 2rem 0; }
  .project-tile {
    flex: 0 0 95%;
    width: 95%; } }

#contact h2 {
  font-family: "Exo", sans-serif;
  padding-left: 0.5rem;
  font-size: 2.5rem;
  letter-spacing: 0.025rem; }

hr {
  border: 1px solid #ddd; }

.contact-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.contact-form {
  flex: 0 0 100%; }
  .contact-form fieldset {
    border: none; }
    .contact-form fieldset legend {
      font-size: calc(1.1rem + 1vw);
      text-align: center; }
  .contact-form .contact-input {
    width: 90%;
    margin: 2rem 5%; }
    .contact-form .contact-input input {
      width: 100%;
      padding: 0.5rem 0 0.5rem 0.5rem;
      font-size: 1rem;
      color: #2d2d2d;
      letter-spacing: 0.025rem;
      border: 0.025rem solid #ccc;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem; }
      .contact-form .contact-input input:focus {
        box-shadow: 0 0 0.25rem #17a2b8;
        outline: none;
        border: 0.025rem solid #17a2b8; }
    .contact-form .contact-input textarea {
      height: 10rem;
      width: 100%;
      padding: 0.5rem 0 0.5rem 0.5rem;
      font-size: 1rem;
      font-family: "Segoe UI", "Open Sans", sans-serif;
      border: 0.025rem solid #ccc;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem; }
      .contact-form .contact-input textarea:focus {
        box-shadow: 0 0 0.25rem #17a2b8;
        outline: none;
        border: 0.025rem solid #17a2b8; }

.contact-btn {
  text-align: center;
  padding-bottom: 2rem; }
  .contact-btn button {
    background: #fff;
    color: #17a2b8;
    border: 0.1rem solid #17a2b8;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
    font-size: calc(1rem + 0.25vw);
    letter-spacing: 0.05rem;
    transition: background 0.25s, color 0.25s ease-in-out;
    -webkit-transition: background 0.25s, color 0.25s ease-in-out;
    -moz-transition: background 0.25s, color 0.25s ease-in-out;
    -ms-transition: background 0.25s, color 0.25s ease-in-out;
    cursor: pointer; }
    .contact-btn button:hover {
      background: #17a2b8;
      color: #fff; }

.contact-sent {
  text-align: center;
  padding: 1.5rem 0;
  background-color: #ccffcc;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  width: 90%;
  margin: 2rem 5%;
  color: #2d2d2d;
  font-size: 1rem; }

.contact-links {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 11%;
  padding-bottom: 2rem; }

.contact-link {
  font-size: calc(3.5rem + 1vw);
  color: #344f5e;
  transition: color 0.25s;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s; }
  .contact-link:hover {
    color: #17a2b8; }

@media screen and (min-width: 810px) {
  .contact-form {
    box-shadow: 1px 0 0 0 #ccc;
    flex: 0 0 50%; }
  .contact-links {
    flex: 0 0 50%;
    column-gap: 100%;
    padding-bottom: 0; }
  .contact-link {
    font-size: calc(5rem + 1vw); } }

#footer {
  height: 5rem;
  font-size: calc(1rem + 0.25vw);
  background: #2d2d2d;
  position: relative;
  bottom: 0;
  width: 100%; }
  #footer .copyright h3 {
    margin: 0;
    padding-top: calc((5rem / 1.5) - (1rem + 0.25vw));
    padding-left: 1.5rem;
    font-weight: 400;
    color: #eee; }
