#contact {
  h2 {
    font-family: $exo;
    padding-left: 0.5rem;
    font-size: 2.5rem;
    letter-spacing: 0.025rem;
  }
}

hr {
  border: 1px solid #ddd;
}

.contact-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form {
  flex: 0 0 100%;
  fieldset {
    border: none;
    legend {
      font-size: calc(1.1rem + 1vw);
      text-align: center;
    }
  }
  .contact-input {
    width: 90%;
    margin: 2rem 5%;
    input {
      width: 100%;
      padding: 0.5rem 0 0.5rem 0.5rem;
      font-size: 1rem;
      color: $darkGrey;
      letter-spacing: 0.025rem;
      border: 0.025rem solid $lightGrey;
      @include borderRadius(0.25rem);
      &:focus {
        box-shadow: 0 0 0.25rem $teal;
        outline: none;
        border: 0.025rem solid $teal;
      }
    }
    textarea {
      height: 10rem;
      width: 100%;
      padding: 0.5rem 0 0.5rem 0.5rem;
      font-size: 1rem;
      font-family: $segoeUI;
      border: 0.025rem solid $lightGrey;
      @include borderRadius(0.25rem);
      &:focus {
        box-shadow: 0 0 0.25rem $teal;
        outline: none;
        border: 0.025rem solid $teal;
      }
    }
  }
}

.contact-btn {
  text-align: center;
  padding-bottom: 2rem;
  button {
    background: #fff;
    color: $teal;
    border: 0.1rem solid $teal;
    @include borderRadius(0.25rem);
    padding: 0.5rem 1.5rem;
    font-size: calc(1rem + 0.25vw);
    letter-spacing: 0.05rem;
    @include transition(background 0.25s, color 0.25s ease-in-out);
    cursor: pointer;
    &:hover {
      background: $teal;
      color: #fff;
    }
  }
}

.contact-sent {
  text-align: center;
  padding: 1.5rem 0;
  background-color: #ccffcc;
  @include borderRadius(0.25rem);
  width: 90%;
  margin: 2rem 5%;
  color: $darkGrey;
  font-size: 1rem;
}

.contact-links {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 11%;
  padding-bottom: 2rem;
}

.contact-link {
  font-size: calc(3.5rem + 1vw);
  color: $darkBlue;
  @include transition(color 0.25s);
  &:hover {
    color: $teal;
  }
}

@media screen and (min-width: 810px) {
  .contact-form {
    box-shadow: 1px 0 0 0 $lightGrey;
    flex: 0 0 50%;
  }

  .contact-links {
    flex: 0 0 50%;
    column-gap: 100%;
    padding-bottom: 0;
  }

  .contact-link {
    font-size: calc(5rem + 1vw);
  }
}
