#footer {
  height: 5rem;
  font-size: calc(1rem + 0.25vw);
  background: $darkGrey;
  position: relative;
  bottom: 0;
  width: 100%;
  .copyright {
    h3 {
      margin: 0;
      padding-top: calc((5rem / 1.5) - (1rem + 0.25vw));
      padding-left: 1.5rem;
      font-weight: 400;
      color: $offWhite;
    }
  }
}
