#landing {
  background-image: url("https://ik.imagekit.io/bclyde95/Portfolio/photo-1475139441338-693e7dbe20b6_nFmobEJg2.avif?ik-sdk-version=javascript-1.4.3&updatedAt=1645055067833");
  min-height: 100vh;
}

#landing-box {
  text-align: center;
  padding: 25vh 0;
  width: 90%;
  margin: 0 5%;
  color: #dedede;
  h1 {
    font-size: calc(2rem + 1vw);
    font-weight: 300;
    padding-bottom: 1rem;
    .title-box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 0.5rem;
      span {
        flex: 0 0 100%;
      }
    }
  }
  h2 {
    font-size: calc(1.2rem + 1vw);
    font-weight: 300;
  }

  #landing-btn {
    font-size: calc(0.75rem + 1vw);
    border: 0;
    background: $teal;
    color: $white;
    padding: 0.75rem 1.5rem;
    @include borderRadius(0.25rem);
    letter-spacing: 0.05rem;
    margin: 2rem 0;
    @include transition(background-color 0.25s ease-out);
    &:hover {
      cursor: pointer;
      background-color: $darkBlue;
    }
  }
}

@media screen and (min-width: 1410px) {
  #landing-box {
    h1 {
      font-size: calc(2.5rem + 1vw);
      .title-box {
        span {
          flex: 0 0 45%;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #landing-box {
    h1 {
      font-size: calc(1.6rem + 1vw);
    }
  }
}

@media screen and (max-width: 341px) {
  #landing-box {
    h1 {
      font-size: calc(1.4rem + 1vw);
    }
    h2 {
      font-size: calc(1rem + 1vw);
    }
  }
}
