.navHidden {
  display: none;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-box {
  height: 5rem;
  width: 100%;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .nav-header {
    flex: 5 2 auto;
    padding-left: 1rem;
    height: 5rem;
    a {
      text-decoration: none;
      color: $darkGrey;
      font-family: $exo;
      font-size: calc(0.6rem + 1vw);
      letter-spacing: 0.2rem;
      height: 5rem;
      h2 {
        /* calc() wizardry to center text. (navHeight / 2) - fontSize */
        margin-top: calc((5rem / 2) - (0.65rem + 1vw));
      }
    }
  }
  .nav-button {
    flex: 0 0 10%;
    button {
      border: none;
      background-color: $white;
      font-size: calc(1rem + 1vw);
      cursor: pointer;
    }
  }
  .nav-links {
    flex: 0 0 100%;
    background: $offWhite;
    margin: 0;
    padding: 0;
    .nav-link {
      a {
        text-decoration: none;
        color: $darkBlue;
        font-size: 1rem;
        font-family: $exo;
        @include transition(color 0.25s);
        &:hover {
          color: $darkGrey;
        }
        h3 {
          padding-left: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .nav-box {
    flex-wrap: nowrap;
    height: 6rem;
  }
  .nav-button {
    display: none;
  }
  .nav-links {
    flex: 2 0 auto !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
    background: $white !important;
    display: flex;
    flex-direction: row;
    column-gap: 11%;
    .nav-link {
      a {
        text-decoration: none;
        color: $darkBlue;
        font-size: 1.5rem !important;
        font-family: $exo;
        @include transition(color 0.25s);
        &:hover {
          color: $darkGrey;
        }
      }
    }
  }
}
