#projects {
  background: $offWhite;
  padding: 2rem 0;
  h2 {
    font-family: $exo;
    padding-left: 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.025rem;
  }
}

.project-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem 10%;
  row-gap: 3rem;
}

.project-tile {
  flex: 0 0 85%;
  width: 85%;
  min-height: 22rem;
  background: $darkBlue;
  color: #eee;
  @include transition(background 0.25s, color 0.25s ease-out);
  @include borderRadius(0.25rem);
  @include boxShadow(0px 0.25rem 0.25rem $lightGrey);
  .project-content {
    width: 100%;
    text-align: center;
    padding-top: 8rem;
    font-size: 1.5rem;
    h3 {
      font-weight: 300;
    }
  }
  .project-content-toggled {
    width: 80%;
    margin: 0 10%;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.1rem;
    h3 {
      font-size: 1.6rem;
    }
    h4 {
      font-size: 1.3rem;
      margin: 0.8rem 0;
    }
    ul {
      display: flex;
      max-width: 80%;
      margin: 0 10%;
      padding-top: 0;
      padding-bottom: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      line-height: 1.8rem;
    }
    .project-tech {
      float: none;
      padding-right: 2rem;
    }
    .project-btn {
      bottom: 0;
      font-size: 1.1rem;
      border: none;
      @include borderRadius(0.25rem);
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
      background: $darkBlue;
      color: $offWhite;
    }
  }
}

@media screen and (min-width: 1080px) {
  .project-box {
    column-gap: 8rem;
  }
  .project-tile {
    flex: 0 0 37.5%;
    width: 37.5%;
  }
}

@media screen and (max-width: 728px) {
  .project-box {
    width: 100%;
    margin: 2rem 0;
  }

  .project-tile {
    flex: 0 0 95%;
    width: 95%;
  }
}
