$teal: #17a2b8;
$darkBlue: #344f5e;
$darkGrey: #2d2d2d;
$lightGrey: #ccc;
$offWhite: #eee;
$white: #fff;
$segoeUI: "Segoe UI", "Open Sans", sans-serif;
$exo: "Exo", sans-serif;

@mixin borderRadius($amount) {
  border-radius: $amount;
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  -ms-border-radius: $amount;
}

@mixin boxShadow($args...) {
  box-shadow: $args;
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -ms-box-shadow: $args;
}

@mixin transition($args...) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
}

body {
  padding: 0;
  margin: 0;
  font-family: $segoeUI;
}

.content {
  margin: 0;
}
