<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Brandon Clyde | Software and Web Development</title>
    <meta name="description"
        content="An Electrical Engineering student at Oregon Tech, with a passion for software and web development." />
    <meta name="author" content="Brandon Clyde" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename="favicon.ico") }}">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/segoe-ui-4" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
    <main id="root">
        <h2 style="text-align: center; margin-top: 25vh;">Loading React app...</h2>
    </main>
    <script src="{{ url_for('static', filename="bundle.js") }}"></script>
</body>

</html>
